@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,1000&display=swap');

html {
    scroll-behavior: smooth;
}


* {
    margin: 0 auto;
    padding: 0 auto;
    text-decoration: none;
    border-width: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: white;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}



.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}


.row {
    width: 100%;
    max-width: 1500px;
}


/* 
    NAVIGATION
*/

#landing-page {
    height: 704px;
    margin-bottom: 200px;
}

#personal-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
    
}

.nav__link--list {
    display: flex;
}


.nav__link {
    margin: 0 12px;
    transition: all 300ms ease;
}

.nav__link:hover {
    transform: scale(0.9);
}


.nav__link--anchor {
    font-size: 16px;
    color: white;
    font-weight: 700;
    transition: all 300ms ease;
}


.nav__link:first-child {
    border: 2px solid white;
    padding: 0 10px;
    border-radius: 12px;

}



.rownav {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(./assets/image1172.png);
    padding-bottom: 704px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    
}
/* btn menu */
.btn__menu {
    background-color: transparent;
    font-size: 24px;
    text-align: center;
    border: none;
    color: #FF570D;
    display: none;
    transition: all 300ms ease;
    cursor: pointer;
}

.closed:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 8px rgba(0, 0, 0, 0.05);

}

.menu__backdrop {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin-left: 36px;
    border-radius: 10px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease;
    visibility: hidden;
    opacity: 0;
    border: 1px solid black;
    border-color: rgb(226, 232, 240);
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.2);
    position: fixed;
    margin-top: 300px;


}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    animation: menuslip 1000ms ease-in-out;

}



.menu--open {
    max-height: 400px;

}

@keyframes menuslipout {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0.9;
        transform: translateX(1200px);
    }

}

@keyframes menuslip {
    0% {
        opacity: 0;
        transform: translateX(1200px);

    }

    80% {
        opacity: 0.8;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }

}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0px;

}

.menu_list {
    padding-bottom: 16px;
}

.btn__get__lastchild {
    background-color: #6315FF;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    transition: background-color 250ms ease-out;

}

.menu__link {
    font-size: 24px;
    color: black;
    padding-bottom: 8px;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #FF570D;


}
/* header */

.row__seo {
    height: 100%;
}

.header__wrapper {
    width: 100%;
    max-width: 1700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 65px;
}

.header__para {
    width: 50%; 
    font-weight: 400;
    font-size: 36px;
    line-height: 45.18px;
    

}

.text__bold {
    font-weight: 900;
}

.sticker__logo {
    width: 100%;
    max-width: 213px;
    top: 787px;
    left: 1068px;
}



.seo__img {
    width: 100%;
    margin: 0 auto;
    position: relative;
}


.options__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.btn__options {
    margin: 101px 0;
    border-radius: 12px;
    background-color: #FF570D;
    width: 398px;
    height: 76px;
    font-weight: 700;
    font-size: 36px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn__options:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 8px rgba(0, 0, 0, 0.05);
}

.logos__wrapper {
    display: flex;
    flex-wrap: wrap;
    
}


.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100%/3);
    margin-bottom: 99px;
}

.logo_txt {
    margin-top: 59px;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

/* Noticias */

.news {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news__header {
    font-weight: 700;
    font-size: 64px;
    line-height: 80.32px;
    text-align: center;
    color: #FF570D;
}

.line {
    width: 1037px;
    height: 0px;
    border: 2px solid #FF570D;
}

.new__img {
    
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
    cursor: pointer;
    padding: 0 20px;
    transition: all 300ms ease;
    cursor: not-allowed;
    border-radius: 12px;
    

}




.new__img:hover {
    transform: scale(0.9);
    filter: grayscale(1);
}

.news__wrapper {
    margin-top: 60.83px;
    display: flex;
    flex-wrap: wrap;
}

.new {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.new__para {
    width: 418px;
    max-height: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: black;
    margin-bottom: 15.83px;
    cursor: not-allowed;

}

.figure__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.news__popper {
    color: white;
    position: relative;
    font-weight: 900;
    top: 150px;
    left: 100px;
    opacity: 0;
    transition: all 300ms ease;
    cursor: not-allowed;
}

.new:hover .news__popper {
    transform: translateX(-100px);
    opacity: 1;

}





.books__loading .news__loading--spinner {
    display: block !important;
}

.fa-spinner {
    position: relative;
    right: 400px;
    font-size: 200px;
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*  
footer
*/

footer {
    background-color: #FF570D;

}



.footer__social--list {
    margin-bottom: 20px;
}

.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    padding: 4% 0;
}

.footer__logo--img {
    width: 100px;
    height: 100px;
    align-self: center;
}

.footer_social--list-wrapper {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all 300ms ease;
}



.footer__social--link,
.footer__copyright {
    color: white;
    padding: 10px;
}


.footer__logo--popper {
    color: white;
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer_anchor {
    position: relative;
    margin-bottom: 20px;
}

.footer_anchor:hover .footer__logo--popper {
    transform: translateX(60px);
    opacity: 1;

}

.footer__p {
    cursor: not-allowed;
    text-align: left;
}



/* Resolutions */

@media (max-width: 1360px) {
    .new {
        width: calc(100%/2);
    }
}

@media (max-width: 1128px) {

    
    .header__wrapper {
        display: flex;
        flex-direction: column;
    }

    .header__para {
        text-align: center;
        margin-bottom: 16px;
    }

    /* p2 */


    .nav__link--list {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    /* options */

    .logo {
        width: calc(100%/2);
    }


    /* news */ 

    .new {
        width: calc(100%/2);
    }

    


}


@media (max-width: 800px) {

    .new {
        width: 100%;
    }

    .logo {
        width: 100%;
    }
}